{% extends 'index.html' %} {% block homepage %}
<div>
  <div class="post">
    {% if info %}
    <div class="table-responsive">
      <!-- <table class='table table-striped table-hover'>
        <thead>
          <tr>
            <th>topicid</th>
            <th>postid</th>
            <th>author</th>
            <th>post</th>
            <th>date</th>
          </tr>
        </thead>
        <tbody>
          {% for item in info %}
          <tr>
            <td>{{ item.topicid }}</td>
            <td>{{ item.postid }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.post }}</td>
            <td>{{ item.date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> -->
      <table class='table table-striped table-hover'>
        <thead>
          <tr>
            <th>freq</th>
            <th>topicid</th>
            <th>date</th>
            <th>contributors</th>
            <th>post</th>
          </tr>
        </thead>
        <tbody>
          {% for item in info %}
          <tr>
            <td>{{ item.freq }}</td>
            <td>{{ item.topicid }}</td>
            <td>{{ item.max }}</td>
            <td>{{ item.contributors }}</td>
            <td>{{ item.post }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <span class="step-links pagination">
        {% if info.has_previous %}
            <a href="?page={{ info.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
        {% endif %}
        <span class="current">
            Page {{ info.number }} of {{ info.paginator.num_pages }}
        </span>
        {% if info.has_next %}
            <a href="?page={{ info.next_page_number }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
        {% endif %}
    </span>
  </div>
</div>
{% endif %} {% endblock %}
