{% extends 'index.html' %} {% block homepage %}
<div>
  <h2>Profile for <strong>{{ name }}</strong></h2>
  <p><span title="{{ name }} last logged in {{ name.last_login }}">Last logged in {{name.last_login|timesince:current_time}} ago</span></p>
  <p><span title="{{ name }} joined {{ name.date_joined }}">Joined {{name.date_joined|timesince:current_time}} ago</span></p>
  <p>Activity {{ pnumber.count}} posts, {{ tnumber.count }} topics</p>
  {% if user.is_authenticated %}
  <div>
    <p><a href="{% url 'profile_contact' name.id %}" class="btn btn-default">Contact {{ name }}</a></p>
  </div>
  {% else %}
  <div>
    <p><a href="{% url 'account_login' %}">Login</a></li> to contact {{ name }}</p>
  </div>
  {% endif %}
  {% if profile_model %}
  <div class="table-responsive">
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th>{{ name.username }}'s posts</th>
          <th>Topic</th>
          <th>Topic Started By</th>
          <th>Last Active</th>
          <th class="table-cell-center">Views</th>
        </tr>
      </thead>
      <tbody>
        {% for item in profile_model %}
        <tr>
          <td><a href="{% url 'thread' item.topic_id %}">{{ item.post }}</a></td>
          <td>{{ item.topic.topic }}</td>
          <td><span title="{{ name }}'s profile"><a href="{% url 'profile' item.topic.author_id %}">{{ item.topic.topicAuthor }}</a></span></td>
          <td class="icon-nowrap"><span title="last active {{ item.pub_date }}">{{ item.pub_date|timesince:current_time }}</span></td>
          <td class="table-cell-center">{{ item.topic.views }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <span class="step-links pagination">
      {% if profile_model.has_previous %}
          <a href="?page={{ profile_model.previous_page_number }}"><span class="glyphicon glyphicon-arrow-left"></span></a>
      {% endif %}
      <span class="current">
          Page {{ profile_model.number }} of {{ profile_model.paginator.num_pages }}
      </span>
      {% if profile_model.has_next %}
          <a href="?page={{ profile_model.next_page_number }}"><span class="glyphicon glyphicon-arrow-right"></span></a>
      {% endif %}
  </span>
  {% endif %}
</div>
{% endblock %}
