{% extends 'index.html' %}
{% load bootstrap %}
{% block homepage %}
<div class="col-md-4 well">
  <h3>Email {{ send_to }}</h3>
  <form class="signup" method="post">
    <div class="form-group">
    {% csrf_token %} {% if user.is_authenticated %}
    <table>
      {% for item in emailform %}
      <tr>
        <td class="table-cell-right">{{ item.label }}: </td>
        <td class="table-cell-left">{{ item }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
    {% endif %}
    <button type="submit" class="save btn btn-default">Email</button>
  </form>
</div>
{% endblock %}
