{% extends 'index.html' %} {% block homepage %}
<!-- <div class="post"> -->
<div>
  <h2>Profile for <strong>{{ name }}</strong></h2>
  <p>Last logged in {{name.last_login|timesince:current_time}}</p>
  <p>Joined {{name.date_joined|timesince:current_time}}</p>
  <p>{{ pnumber.count}} posts, {{ tnumber.count }} topics</p>
  {% if pModel %}
  <div class="table-responsive">
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th>{{name.username}}'s posts</th>
          <th>Topic</th>
          <th>Topic Started By</th>
          <th>Last Active</th>
          <th class="table-cell-center">Views</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pModel %}
        <tr>
          <td><a href="{% url 'thread' item.topic_id %}">{{ item.post }}</a></td>
          <td>{{ item.topic.topic }}</td>
          <td><a href="{% url 'profile' item.topic.author_id %}">{{ item.topic.topicAuthor }}</a></td>
          <td class="icon-nowrap">{{ item.pub_date|timesince:current_time}}</td>
          <td class="table-cell-center">{{ item.topic.views }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
