{% extends 'index.html' %} {% block homepage %}
  {% if site_users_list %}
  <div class="table-responsive">
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th>Site User</th>
        </tr>
      </thead>
      <tbody>
        {% for item in site_users_list %}
        <tr>
          <td><a href="{% url 'profile' item.id %}">{{ item.username }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
