{% extends 'index.html' %} {% block content %}
<div class="post">
  <h3>New Post</h3>
  <form method="POST" class="post-form">{% csrf_token %} {{ postform.as_p }}
    <button type="submit" class="save btn btn-default">Post</button>
  </form>
  {% block theTopic %} {% endblock %}
</div>
<div>
{% for item in threadTopic %}
  <h3>{{ item.topic }}</h3>
{% endfor %}
</div>
<div class="post">
  {% if pModel %}
  <div class="table-responsive">
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Post</th>
          <th>Author</th>
          <th>Posted</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pModel %}
        <tr>
          <td>{% if item.post == "This post has been removed by the author" %}{% elif item.author == user.username or user.username == 'admin' %}<a href="{% url 'delete_new' item.id %}"><span class="glyphicon glyphicon-trash"></span></a>{% endif %}</td>
          <td>{% if item.post == "This post has been removed by the author" %}{% elif item.author == user.username or user.username == 'admin' %}<a href="{% url 'edit_new' item.id %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</td>
          <td>{{ item.post}}</td>
          <td>{{ item.author }}</td>
          <td class="icon-nowrap">{{ item.pub_date|timesince:current_time}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}
