{% extends 'index.html' %} {% block homepage %}
<!-- <div class="post"> -->
<div>
    {% if threadTopic %}
    {% for item in threadTopic %}
    <h2><strong>Topic: </strong> {{ item.topic }}</h2>
    <h4><strong>Topic started by </strong><a href="{% url 'profile' item.author_id %}">{{ item.topicAuthor}}</a></h4>
    <p>{{ item.views }} views, {{ numtopicposts.count }} posts, {{ numtopicusers.count }} users</p>
    {% endfor %}
    {% endif %}
</div>
<div class="post">
  {% if pModel %}
  <div class="table-responsive">
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>Post</th>
          <th>Author</th>
          <th>Posted</th>
        </tr>
      </thead>
      <tbody>
        {% for item in pModel %}
        <tr>
          <td>{% if item.post == "This post has been removed by the author" %}{% elif item.author == user.username or user.username == 'admin' %}<a href="{% url 'delete' item.id %}"><span class="glyphicon glyphicon-trash"></span></a>{% endif %}</td>
          <td>{% if item.post == "This post has been removed by the author" %}{% elif item.author == user.username or user.username == 'admin' %}<a href="{% url 'edit' item.id %}"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</td>
          <td>{{ item.post}}</td>
          <td><a href="{% url 'profile' item.user_id %}">{{ item.author}}</a></td>
          <td class="icon-nowrap">{{ item.pub_date|timesince:current_time}} ago</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% if user.is_authenticated %}
<h3>New Post</h3>
<form method="POST" class="post-form">{% csrf_token %} {{ postform.as_p }}
  <button type="submit" class="save btn btn-default">Post</button>
</form>
{% endif %}
{% endblock %}
