{% extends 'index.html' %} {% block homepage %}
<div class="post">
  <ol>
    <li>Make post and topics forms required</li>
    <li>Can only edit posts for 24 hrs</li>
    <li>Site needs a search function. Search in topic name, posts, articles and user list.</li>
    <li>Need a program that runs every 24hrs and cleans up deletes posts and empty topics</li>
    <li>Include Google social authentication and maybe Twitter</li>
    <li>Deploy on Bluehost</li>
    <li>Vote up or down individual posts in threads.</li>
    <li>Report abuse button on each post</li>
    <li>Add a checkbot question to all contact forms and article submission forms</li>
    <li>Login & Register forms repeating again. Fix this</li>
    <li>Add Bio form/edit/delete to profiles for users to describe themselves</li>
    <li>Online User not disappearing from list when logged out. This because session doesn't expire for two weeks.</li>
    <ul>
      <li><a href="http://stackoverflow.com/questions/2723052/how-to-get-the-list-of-the-authenticated-users">See stackoverflow for this issue</a></li>
    </ul>
    <li>Change layout of post to look less like a table</li>
    <li>Add to user list number of posts, number of topics started, date joined</li>
    <li>Get tinyMCE to work with forms</li>
    <li>Fix: after logout going immediately to registration brings up logged in messgae of previous user</li>
    <li>Add CSS transitions to elements,</li>
    <ul>
      <li>Rethink css transition for more flow and to be appropriate, currently too much bouncing</li>i>
    </ul>
    <li>in forum.html table column for number of users who contributed to a topic</li>
    <li>About -> who created this site and why.... tutors needlessly repeating notes, place for tutors to discuss etc...</li>
    <li>After sending email to a profile user, need a view to show who the email was sent to and allow users send again if not correct</li>
    <li>separate file for passwords use gitignore</li>
    <li>Counter for downloads of each file</li>
  </ol>
</div>
{% endblock %}
