{% extends 'index.html' %} {% block homepage %}
<h2>File Sharing</h2>
<p>{% if user.is_authenticated %}Submit an File: <a href="{% url 'file_sharing_form' %}"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}</p>
<div class="fadeIn">
  {% if filemodel %}
  <div class="col-md-8 well">
    {% for item in filemodel %} {% if item.approved %}
    <h3>{{ item.title }}</h3>
    <p>Description {{ item.description}}</p>
    <h5>Uploaded by {{ item.author }}, published {{ item.pub_date}}</h5>
    <p>File name {{ item.upload }}</p>
    <p>URL <a href="/{{ MEDIA_URL }}{{ item.upload.name}}">media{{ item.upload}}</a></p>
    <!-- <p><a href="localhost:8000/media/TESTFILE.txt"></a></p> -->
    <p>Name of file {{ item.upload.name }}</p>
    {% endif %} {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
